<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div layout:fragment="mainFragment">
        <div class="row mt-3">
            <div class="col-12">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTaskModal"
                        style="background-color: rgba(22,103,122,0.84)">+ Add New Task</button>
                <div class="row">
                    <div class="col-10 mx-auto">
                        <!-- Modal -->
                        <div class="modal fade" id="addTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form th:action="@{'/task/addtask'}" method="post">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">New Task</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="form-label">TASK NAME:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <input type="text" class="form-control" placeholder="Task Name..." name="name">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <label class="form-label">TASK DESCRIPTION:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <textarea class="form-control" placeholder="Description..." name="description"></textarea>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <label class="form-label">TASK DEADLINE DATE:</label>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <input type="date" class="form-control" name="deadline">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button class="btn btn-primary">Add Task</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>DEADLINE DATE</th>
                        <th>IS COMPLETED</th>
                        <th>DETAILS</th>
                    </tr>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.deadlineDate}"></td>
                        <td th:text="${task.completed}"></td>
                        <td><a th:href="@{'/task/details/'+${task.getId()}}" class="btn btn-sm btn-success"
                               style="background-color: rgba(22,103,122,0.84)">DETAILS</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</html>